<%= div_for spot do %>
	<%= gravatar spot.user %>
	<%= link_to spot.user.email, spot.user%>
	spotted
	<div>
	<%= render spot.content %>
	</div>
	<%= link_to time_ago_in_words(spot.created_at), spot %>
<% end %>